<a href="https://colab.research.google.com/github/JPARSHVA/hackathon/blob/master/try1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df =pd.DataFrame({"a" :[],
                  "c" :[]})
df3 =pd.DataFrame({"a" :[],#Goal
                  "c" :[]})
df4 =pd.DataFrame({"a" :[],#card
                  "c" :[]})
a=pd.read_csv(filepath_or_buffer = "leister.csv")
a['c'].str.lower()
a= a.drop('b',axis=1)

In [ ]:
a

         a                                                  c
0   90'+4'  Second Half ends, Leicester City 2, Crystal Pa...
1   90'+2'  Wilfried Zaha (Crystal Palace) wins a free kic...
2   90'+2'         Foul by Timothy Castagne (Leicester City).
3      89'  Substitution, Leicester City. Timothy Castagne...
4      86'  Attempt blocked. Kiernan Dewsbury-Hall (Leices...
..     ...                                                ...
85      5'  Attempt missed. Ademola Lookman (Leicester Cit...
86      2'           Foul by Nampalys Mendy (Leicester City).
87      2'  Conor Gallagher (Crystal Palace) wins a free k...
88       -                                 First Half begins.
89       -  Lineups are announced and players are warming up.

[90 rows x 2 columns]

In [ ]:
for x in range(90): 
  z= a.iloc[x,1]
  if z.find('card') != -1 or z.find('Goal') != -1 or z.find('free kick') != -1 or z.find('penalty') != -1 or z.find('off side') != -1:
    df2= a.iloc[x,:]
    df = df.append(df2)
df

         a                                                  c
1   90'+2'  Wilfried Zaha (Crystal Palace) wins a free kic...
7      84'  Eberechi Eze (Crystal Palace) wins a free kick...
9      79'  Kiernan Dewsbury-Hall (Leicester City) wins a ...
12     78'  Daniel Amartey (Leicester City) wins a free ki...
15     70'  Jordan Ayew (Crystal Palace) wins a free kick ...
20     67'  Luke Thomas (Leicester City) is shown the yell...
21     67'  Jordan Ayew (Crystal Palace) wins a free kick ...
24     67'  Eberechi Eze (Crystal Palace) wins a free kick...
25     66'  Goal! Leicester City 2, Crystal Palace 1. Wilf...
28     63'  Penalty conceded by Youri Tielemans (Leicester...
29     63'  Penalty Crystal Palace. Jordan Ayew draws a fo...
36     54'  Patson Daka (Leicester City) wins a free kick ...
38     49'  Nampalys Mendy (Leicester City) wins a free ki...
40     49'  Luke Thomas (Leicester City) wins a free kick ...
42     49'  Wilfried Zaha (Crystal Palace) wins a free kic...
53     45'  Goal! Leicester City 2, Crystal Palace 0. Kier...
54     44'  Kiernan Dewsbury-Hall (Leicester City) wins a ...
56     39'  Goal! Leicester City 1, Crystal Palace 0. Adem...
57     38'  Jeffrey Schlupp (Crystal Palace) wins a free k...
59     37'  James Justin (Leicester City) wins a free kick...
61     36'  James Maddison (Leicester City) wins a free ki...
66     32'  Tyrick Mitchell (Crystal Palace) is shown the ...
67     32'  Nampalys Mendy (Leicester City) wins a free ki...
69     24'  Kiernan Dewsbury-Hall (Leicester City) wins a ...
71     22'  James Maddison (Leicester City) wins a free ki...
78     12'  Jean-Philippe Mateta (Crystal Palace) wins a f...
80     11'  Nampalys Mendy (Leicester City) wins a free ki...
82      8'  Wilfried Zaha (Crystal Palace) wins a free kic...
87      2'  Conor Gallagher (Crystal Palace) wins a free k...

In [ ]:
df# all possible
df.size/3

19.333333333333332

In [ ]:
for x in range(90): 
  z= a.iloc[x,1]
  if  z.find('Goal') != -1 :
    df2= a.iloc[x,:]
    df3 = df3.append(df2)

In [ ]:
df3#goal

      a                                                  c
25  66'  Goal! Leicester City 2, Crystal Palace 1. Wilf...
53  45'  Goal! Leicester City 2, Crystal Palace 0. Kier...
56  39'  Goal! Leicester City 1, Crystal Palace 0. Adem...

In [ ]:
for x in range(90):  # for yellow card
  z= a.iloc[x,1]
  if  z.find('card') != -1 :
    df2= a.iloc[x,:]
    df4 = df4.append(df2)

In [ ]:
df4

      a                                                  c
20  67'  Luke Thomas (Leicester City) is shown the yell...
66  32'  Tyrick Mitchell (Crystal Palace) is shown the ...

In [ ]:
df4 = df4.append(df3)
df4

      a                                                  c
20  67'  Luke Thomas (Leicester City) is shown the yell...
66  32'  Tyrick Mitchell (Crystal Palace) is shown the ...
25  66'  Goal! Leicester City 2, Crystal Palace 1. Wilf...
53  45'  Goal! Leicester City 2, Crystal Palace 0. Kier...
56  39'  Goal! Leicester City 1, Crystal Palace 0. Adem...